*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(132, 198, 236);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(209, 201, 216);
}

p, label {
    color: rgb(99, 221, 109);
}

input {
    border: none;
    border-bottom: 1px rgba(21, 199, 154, 0.719);
    padding: 10px 0;
}

input [type="text"], input [type="number"], input [type="date"], input [type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

