*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(216, 23, 23);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(204, 53, 53);
}

p, label {
    color: rgb(233, 138, 15);
}

input {
    border: none;
    border-bottom: 1px rgba(224, 111, 18, 0.719);
    padding: 10px 0;
}

input [type="text"], input [type="number"], input [type="date"], input [type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: aqua;
}

.cabecalho h3{
    color: rgb(238, 11, 11);
    margin-top: 0;
}


.form-container {
    background-color: antiquewhite;
    width: 60%;
    margin: 0 auto;
    top: -46px;
}